<div class="container">
    <div class="row" style="margin: 100px;">
        <div class="col-sm-4" style="border-style: groove;">
            <h2>Moji incidenti</h2> 
        </div>
        <div class="col-sm-4" style="border-style: groove;">
            <h2>Moji planovi rada</h2>
        </div>
        <div class="col-sm-4" style="border-style: groove;">
            <h2>Moji bezbednosni dokumenti</h2>
        </div>
    </div>
    <div class="row">
        <div id="columnChartContainer" class="col-sm-6"></div>
        <div id="pieChartContainer" class="col-sm-6"></div>
    </div>
</div>