<div class="mat-elevation-z8 data-table">
  <table mat-table matSort aria-label="Elements">
    <!-- Id Column -->
    <ng-container matColumnDef="idIncidenta" sticky>
      <th mat-header-cell *matHeaderCellDef mat-sort-header><p>Id incidenta</p></th>
      <td mat-cell *matCellDef="let row">{{row.idIncidenta | number}}</td>
    </ng-container>

    <!-- Tip Column -->
    <ng-container matColumnDef="NazivTipIncidenta" sticky>
      <th mat-header-cell *matHeaderCellDef mat-sort-header><p>Tip</p></th>
      <td mat-cell *matCellDef="let row">{{row.NazivTipIncidenta}}</td>
    </ng-container>
    
    <!-- Prioritet Column -->
    <ng-container matColumnDef="Prioritet">
      <th mat-header-cell *matHeaderCellDef mat-sort-header><p>Prioritet</p></th>
      <td mat-cell *matCellDef="let row">{{row.Prioritet}}</td>
    </ng-container>

    <!-- Potvrdjen Column -->
    <ng-container matColumnDef="Potvrdjen">
      <th mat-header-cell *matHeaderCellDef mat-sort-header><p>Potvrdjen</p></th>
      <td mat-cell *matCellDef="let row">{{row.Potvrdjen}}</td>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="NazivStatusaIncidenta">
      <th mat-header-cell *matHeaderCellDef mat-sort-header><p>Status</p></th>
      <td mat-cell *matCellDef="let row">{{row.NazivStatusaIncidenta}}</td>
    </ng-container>

    <!-- ETA Column -->
    <ng-container matColumnDef="ETA">
      <th mat-header-cell *matHeaderCellDef mat-sort-header><p>ETA</p></th>
      <td mat-cell *matCellDef="let row">{{row.ETA | date}}</td>
    </ng-container>

    <!-- ATA Column -->
    <ng-container matColumnDef="ATA">
      <th mat-header-cell *matHeaderCellDef mat-sort-header><p>ATA</p></th>
      <td mat-cell *matCellDef="let row">{{row.ATA | date}}</td>
    </ng-container>

    <!-- ETR Column -->
    <ng-container matColumnDef="ETR">
      <th mat-header-cell *matHeaderCellDef mat-sort-header><p>ETR</p></th>
      <td mat-cell *matCellDef="let row">{{row.ETR | date}}</td>
    </ng-container>

    <!-- Nivo napona Column -->
    <ng-container matColumnDef="NivoNapona">
      <th mat-header-cell *matHeaderCellDef mat-sort-header><p>Nivo napona</p></th>
      <td mat-cell *matCellDef="let row">{{row.NivoNapona | number}} kW</td>
    </ng-container>

    <!-- Planirano vreme rada Column -->
    <ng-container matColumnDef="PlaniranoVremeRada">
      <th mat-header-cell *matHeaderCellDef mat-sort-header><p>Planirano vreme rada</p></th>
      <td mat-cell *matCellDef="let row">{{row.PlaniranoVremeRada | date}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource?.data?.length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]">
  </mat-paginator>
</div>