<div class="bs-example d-flex justify-content-center">
    <div>
        <button (click)= "ucitajIncidente()">Ucitaj</button>
        <button>Dodaj</button>
    </div>
    
    <div [hidden]="incidenti.length !== 0">
        <p> 
        Trenutno nema incidenata!
        </p>
    </div>
    
    <div [hidden]="incidenti.length === 0" class="w-50">
        <table class="table">
            <thead class="thead-light">
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Adresa</th>
                <th scope="col">Pocetni datum</th>
                <th scope="col">Status</th>
                <th scope="col">Broj telefona</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let incident of incidenti">
                <th scope="row">{{ incident.id }}</th>
                <td>{{ incident.adresa }}</td>
                <td>{{ incident.pocetniDatum | date }}</td>
                <td>{{ incident.status}}</td>
                <td>{{ incident.brojTelefona }}</td>
              </tr>
            </tbody>
        </table>
    </div>
</div>