.data-table {
    width: 65%;
    margin: 70px auto;
    overflow: auto;
    text-align: center;
}

td.mat-column-NazivTipIncidenta {
    background-color: whitesmoke;
    padding-right: 6px;
}

td.mat-column-idIncidenta {
    background-color: whitesmoke;
}

.mat-table-sticky-border-elem-right {
    border-left: 1px solid #e0e0e0;
}

.mat-table-sticky-border-elem-left {
    border-right: 1px solid #e0e0e0;
}