<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink='/ne-registrovan'>Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink='/dashboard'>Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink='/incidenti'>Svi incidenti</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink='/bezbednosni-dokumenti'>Svi bezbednosni dokumenti</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink='/elementi-mreze'>Svi elementi mreze</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" routerLink='/moj-profil'>Moj profil</a>
          </li> -->
        </ul>
        <span class="navbar-text">
          <a class="nav-link" routerLink='/moj-profil'><fa-icon [icon]="faUser"></fa-icon></a>
          <!-- Ovde se moze dodati trenutno logovani korisnik -->
        </span>
      </div>
</nav>

<router-outlet></router-outlet>