<div class="col">
    <div class="form-group row">
        <input type="text" class="form-control m-2" placeholder="Korisničko ime">
        <input type="password" class="form-control m-2" placeholder="Lozinka">
    </div>
    <div class="row">
        <div class="col">
            <input type="button" class="btn btn-dark btn-block" value="Prijava">
        </div>
        <div class="col">
            <input type="button" class="btn btn-primary btn-block" value="Registracija">
        </div>
    </div>
</div>
